name: Convert Markdown

on: [push]

jobs:
  install:
    name: Convert Markdown
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3

     - name: list
       run: ll
       
     - name: Markdown to JSON
       uses: ClydeDz/markdown-to-json@v0.1.0
       with:
        settings-json-file: settings/convert.json
