name: Convert Markdown

on: [push]

jobs:
  install:
    name: Convert Markdown
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
     - name: setup python
       uses: actions/setup-python@v4
       with:
         python-version: 3.8 #install the python needed
     - name: Converter
       run: |
         python convert.py
         git config --local user.name "GitHub Action"
         git config --local user.email "action@github.com"
         git add .
         git commit -m "api gerada"
         git push
       
   
