name: Convert Markdown

on: [push]

jobs:
  install:
    name: Convert Markdown
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3
     - name: setup python
       uses: actions/setup-python@v4
       with:
         python-version: 3.8 #install the python needed
     - name: Converter
       run: |
         python convert.py
         git config user.name "github-actions[bot]"
         git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
         git add .
         git commit -m "generated"
         git push
       
   
